@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

*,
.body{
  font-family: 'Roboto', sans-serif;
}

.AppContent {
  background-color: var(--background-color);
  color: var(--colors-text);
  transition: background-color 600ms linear, color 800ms linear;
  height: 100vh;
  
}

.app {
  position: relative;
  background: url("https://images.wallpaperscraft.ru/image/single/kaktus_rastenie_minimalizm_170029_7879x5120.jpg");
  background-size: cover;
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  width: 50%;
  height: 70%;
  margin: 0.5rem auto;
  transition: filter 1000ms linear;
  z-index: 1;
}

.app::before {
  content: '';
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: var(--opacity);
  transition: background 100ms linear;
}

.input {
  display:grid;
  grid-template-columns:1fr 180px;
  padding-top: 1rem;
  margin: 0 auto;
  margin-left: 140px;
}

.input input {
  font-size: 40px;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: var(--background-input);
  width: 100%;
  transition: background-color 600ms linear;
  cursor: pointer;
}

.content {
/* 
  background-repeat: no-repeat; */
  font-size: 26px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0rem auto;
  justify-items: center; 
  align-items: center;
  text-align: center;
  gap: 1rem 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 4rem;
}

.city_name,
.date,
.prediction_image,
.temp_max,
.temp_min,
.temp {
  position: relative;
  margin: auto;
  background-color: var(--background-predictions);
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  transition: background-color 800ms linear;
  z-index: 40;
  cursor:pointer;
}

.city_name:hover,
.date:hover,
.prediction_image:hover,
.temp_max:hover,
.temp_min:hover,
.temp:hover {
  background-color: var(--background-predictions-hover);
  animation: hover 0.5s;
}

@keyframes hover {
  0% {transform: scale(1)}
  50% {transform: scale(1.05)}
  100% {transform: scale(1);}
}

.image {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  background: url("https://img.freepik.com/free-vector/cute-smiling-sun-with-clouds-sticker-design-element-vector_53876-164996.jpg?w=740&t=st=1659211105~exp=1659211705~hmac=e7f65a13344e07c2024e61a98fd2816c4a7d034aeefd30d9fe7edd25bad81614");
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

.image2 {
  background: url("https://img.freepik.com/free-vector/winter-snowflake-illustration-blue-background-set_53876-120770.jpg?w=740&t=st=1659213077~exp=1659213677~hmac=298d54275ebb4164c97fa164048cc86cf9455f4ca8df9fa46f303b3227eaa943");
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.info_container {
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 12;
}

.inner {
  background: var(--icon-bg);
  padding: 0.5m;
  border-radius: 10px;
  width: 100px;
  clip-path: circle(12% at 90% 43%);
  transition: all 0.4s linear;
  cursor: pointer;
}

.inner:hover {
  clip-path: circle(75%);
  width: 100px;
  background: rgb(9, 151, 246);
}

span {
  font-size: 20px;
  float: right;
  color: rgb(9, 151, 246);
  font-weight: bold;
  transition: color(0.5s);
  position: relative;
  margin-right: 7%;
  margin-top: 6%;
}

.sp:hover {
  opacity: 0;
}

/* span:hover {
  opacity: 0;
} */

h6 {
  color: #ffffff;
  padding: 8px;
  margin: 5px;
}

.buttons {
  position: absolute;
  right: 0;
  margin: 5px;
  padding: 5px;
  background-color: rgb(95, 89, 63);
  border-radius: 10px;
}

.buttons button {
  border-radius:10px;
  width: 60px;
  border: none;
  background-color: rgb(184, 28, 184);
  color: white;
}

.buttons button:hover {
  background-color: rgb(136, 29, 136);
}

.theme_name {
  text-align: center;
  margin: auto;
  color: palevioletred;

}