* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("https://img.freepik.com/free-photo/grey-geometrical-shapes-background_23-2148811539.jpg?w=996&t=st=1659208058~exp=1659208658~hmac=f54a6e10f9e7e0e4ea784c5aa6603f8dd100fd9051ca4daec72ed2c0d0888bf9");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.app {
    background: #616161;  
    background: -webkit-linear-gradient(to right, #9bc5c3, #944a4a); 
    background: linear-gradient(to right, #9bc5c3, #616161);
    box-shadow: 2px 2px 4px black;
    border-radius: 15px;
    width: 60%;
    margin: 0.5rem auto;
    height: 80vh;
}

.input {
    display: grid;
    padding-top: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.input input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    background:cornsilk;
    width: 100%;
}

.content{
    display: grid;
    justify-content: center;
    text-align: center;
}

.image{
    background:url("https://img.freepik.com/free-vector/cute-smiling-sun-with-clouds-sticker-design-element-vector_53876-164996.jpg?w=740&t=st=1659211105~exp=1659211705~hmac=e7f65a13344e07c2024e61a98fd2816c4a7d034aeefd30d9fe7edd25bad81614") ;
    background-size: cover ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.image2{
    background:url("https://img.freepik.com/free-vector/cloud-with-falling-rain-background_1017-32364.jpg?w=740&t=st=1659212950~exp=1659213550~hmac=1dc0db78986ff7bb21bca4b15c03bd3583e8d72ac9d685a2f43119572dee4529") ;
    background-size: cover ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.image3{
    background:url("https://img.freepik.com/free-vector/winter-snowflake-illustration-blue-background-set_53876-120770.jpg?w=740&t=st=1659213077~exp=1659213677~hmac=298d54275ebb4164c97fa164048cc86cf9455f4ca8df9fa46f303b3227eaa943") ;
    background-size: cover ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}