* {
  margin:0px;
  padding:0px;
}

html,
body,
:root {
 height: 100%;
 width: 100%;
}

html[data-theme='light'] {
  --colors-text: rgb(0, 0, 0);
  --background-color: rgb(190, 204, 233);
  --background-input: rgb(147, 100, 173);
  --background-predictions:rgba(175, 138, 197, 0.75);
  --background-predictions-hover:rgba(91, 86, 129, 0.75);
  /* --filter: brightness(100%); */
  --opacity: rgb(0, 0, 0, 0);
  --icon-bg: rgb(255, 255, 255);
  --icon-color: rgb(200, 200, 200);
}

html[data-theme='dark'] {
  --colors-text: rgb(172, 184, 199);
  --background-color: rgb(3, 12, 77);
  --background-input: rgb(156, 170, 170);
  --background-predictions:rgba(16, 128, 122, 0.75);
  --background-predictions-hover:rgba(16, 88, 122, 0.75);
  /* --filter: brightness(55%); */
  --opacity: rgb(0, 0, 0, 0.5);
  --icon-bg: rgb(185, 174, 174);
  --icon-color: rgb(43, 29, 29);
}